*{
    margin:0;
    padding:0;
}

html, body{
    width:100%;
    height:100%;

    font-family: sans-serif;
}

$tile-size: 80px;
$tile-border-radius:10px;

.container{
    display:flex;
    width:100%;
    height:100%;

    align-items: center;
    justify-content: center;
    flex-direction: column;

    .header{
        .btn{
            width:120px;
            height:60px;

            border:none;
            background-color: #edcf72;
        }
        margin-bottom:30px;
    }
}

.grid{

    background-color:#bbada0;
    display:inline-block;
    position:relative;

    &__square{
        display: inline-block;

        width: $tile-size;
        height: $tile-size;
        margin:12.5px;

        background-color: white;

        border-radius:$tile-border-radius;
    }

    &__tile{
        display:inline-flex;
        align-items:center;
        justify-content:center;

        position:absolute;

        width: $tile-size;
        height: $tile-size;

        background-color: #696969;
        color: white;
        font-size:28pt;
        font-weight: bold;

        border-radius:$tile-border-radius;

        transition: top 0.3s linear, left 0.3s linear;

        &--2, &--4{
            background-color: #ede0c8;
            color: #776e65;
        }

        &--8, &--16{
            background-color: #f2b179;
            color:white;
        }

        &--32{
            background-color: #f67c5f;
            color:white;
        }

        &--64{
            background-color: #f65e3b;
            color:white;
        }

        &--128, &--256, &--512{
            background-color: #edcf72;
            color:white;
        }

        &--1024, &--2054{
            background-color:#edc22e;
            color:white;
        }

    }
}