*{
    margin:0;
    padding:0;
}

html, body{
    width:100%;
    height:100%;

    font-family: "Dosis";
}

$tile-size: 80px;
$tile-border-radius:10px;

$light-text:#fffff2;
$dark-text: #776e65;


.container{
    display:flex;
    width:100%;
    height:100%;

    align-items: center;
    justify-content: center;
    flex-direction: column;

    .header{

        margin-bottom:20px;

        &__column{
            display:inline-flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;

            height:100px;

            margin-left:10px;
            margin-right:10px;
        }

        .btn{
            width:100px;
            height:40px;

            border:none;
            border-radius: 5px;
            background-color: #1976D2;

            color:$light-text;

            font-weight: bold;
            text-transform: uppercase;

            cursor:pointer;
        }
    }
}

.grid{

    background-color:#8aacc8;
    display:inline-block;
    position:relative;
    border-radius: $tile-border-radius;

    &__square{
        display: inline-block;

        width: $tile-size;
        height: $tile-size;
        margin:12.5px;

        background-color: white;

        border-radius:$tile-border-radius;
    }

    &__tile{
        display:inline-flex;
        align-items:center;
        justify-content:center;

        position:absolute;

        width: $tile-size;
        height: $tile-size;

        background-color: #0D47A1;
        color: $light-text;
        font-size:28pt;
        font-weight: bold;

        border-radius:$tile-border-radius;

        transition: top 0.3s linear, left 0.3s linear;

        &--2, &--4, &--8, &--16, &--32,{
            color:$dark-text;
        }

        &--64, &--128, &--256, &--512, &--1024, &--2048{
            color:$light-text;
        }

        &--2, &--4{
            background-color: #E3F2FD;
        }

        &--8, &--16{
            background-color: #BBDEFB;
        }

        &--32{
            background-color:#90CAF9;
        }

        &--64{
            background-color: #42A5F5;
        }

        &--128, &--256, &--512{
            background-color: #2196F3;
        }

        &--1024, &--2054{
            background-color:#1976D2;
        }

    }
}